/***************************************************************************
 *
 *   %SOURCEFILE%
 *   -------------------
 *   copyright            : (c) %YEARS% by %OWNER%
 *   author               : %AUTHOR%
 *   email                : %BUGREPORT%
 *
 ***************************************************************************/

