<div class="navbar navbar-dark bg-inverse" style="margin: 0pt;">
	<button class="navbar-toggler hidden-sm-up" type="button"
		data-toggle="collapse" data-target="#bs-collapse-title">
		<span class="octicon octicon-three-bars"></span>
	</button>
	<a class="navbar-brand" [routerLink]="['/Home']"><img src="images/logos/logo2.png"
		width="100" title="Purifinity" /></a> <span class="navbar-brand">{{text}}</span>
	<div class="collapse navbar-toggleable-xs pull-xs-right"
		id="bs-collapse-title">
		<ul class="nav navbar-nav">
			<li *ngIf="!isLoggedIn()" class="nav-item"><a class="nav-link"
				id="loginLink" [routerLink]="['Login']"><span
					class="octicon octicon-sign-in" style="color: #c00000;"></span>&nbsp;Login</a></li>
			<li *ngIf="isLoggedIn()" class="nav-item"><a class="nav-link"
				[routerLink]="['DashboardsAdmin']"><span class="octicon octicon-tools"></span>&nbsp;Administration</a></li>
			<li *ngIf="isLoggedIn()" class="nav-item"><a class="nav-link"
				id="accountLink" [routerLink]="['Account']"><span
					class="octicon octicon-person"></span>&nbsp;Account</a></li>
			<li *ngIf="isLoggedIn()" class="nav-item"><a class="nav-link"
				id="logoutLink" (click)="logout()"><span
					class="octicon octicon-sign-out" style="color: #00c000;"></span>&nbsp;Logout</a></li>
		</ul>
	</div>
</div>
