<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresoltechnologies.purifinity.client.lang.c11.C11Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresoltechnologies.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresoltechnologies.purifinity.client.lang.c11.prefs.C11AnalysisPreferencePage"
            id="com.puresoltechnologies.purifinity.client.lang.c11.prefs.C11AnalysisPreferencePage"
            name="C11">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_contribs.xml"
            primary="false">
      </toc>
   </extension>


</plugin>
