<panel title="System Health"
	icon="/images/icons/FatCow_Icons16x16/system_monitor.png">
<table class="table">
	<tbody>
		<tr>
			<td>Connection</td>
			<td>{{connection}}</td>
		</tr>
		<tr *ngIf="error">
			<td>Error</td>
			<td>{{error}}</td>
		</tr>
		<tr>
			<td>Server Start</td>
			<td>{{getStartTime() | defaultDate}}</td>
		</tr>
		<tr>
			<td>Uptime</td>
			<td>{{getUptime() | duration}}</td>
		</tr>
		<tr>
			<td>Memory</td>
			<td><progress class="progress progress-striped {{getMemorySeverity()}}"
					[attr.value]="getUsedMemory()"
					[attr.max]="getMaxMemory()">
					<span>{{getMemoryProgressWidth()}}%</span>
				</progress></td>
		</tr>
		<tr>
			<td>CPU Usage<br />({{getAvailableCPUs()}} processors)
			</td>
			<td><progress class="progress progress-striped {{getCPUSeverity()}}"
					[attr.value]="getCPUUsage()*100"
					[attr.max]="100">
					<span>{{getCPUUsage()*100}}%</span>
				</progress></td>
		</tr>
	</tbody>
</table>
</panel>