<div class="panel panel-default histogram-chart">
	<div class="panel-heading">
		<h3 class="panel-title">
			<img src="/images/icons/FatCow_Icons16x16/chart_column_up.png" />
			Histogram Chart <span style="float: right;"><a
				class="btn-default" data-ng-click="exportChartData()"><img
					src="/images/icons/FatCow_Icons16x16/document_export.png" /></a> <a
				class="btn-default" data-ng-click="printChart()"><img
					src="/images/icons/FatCow_Icons16x16/printer_color.png" /></a></span>
		</h3>
	</div>
</div>
