<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresol.coding.client.lang.fortran2008.Fortran2008Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.coding.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresol.coding.client.lang.fortran2008.prefs.Fortran2008AnalysisPreferencePage"
            id="com.puresol.coding.client.lang.fortran2008.prefs.Fortran2008AnalysisPreferencePage"
            name="Fortran 2008">
      </page>
   </extension>


</plugin>
