<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresol.coding.client.lang.java6.Java6Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.coding.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresol.coding.client.lang.java6.prefs.Java6AnalysisPreferencePage"
            id="com.puresol.coding.client.lang.java6.prefs.Java6AnalysisPreferencePage"
            name="Java 6">
      </page>
   </extension>


</plugin>
