<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresol.purifinity.client.lang.java.Java6Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresol.purifinity.client.lang.java.prefs.JavaAnalysisPreferencePage"
            id="com.puresol.purifinity.client.lang.java.prefs.JavaAnalysisPreferencePage"
            name="Java">
      </page>
   </extension>


</plugin>
