.metadata
.settings
.classpath
.project
.tscache
target
target-grunt
felix-cache
workspace
*.log
*.log.*
*.lock
*~
dependency-reduced-pom.xml
Thumbs.db
node_modules
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
