<div class="modal-header">
	<h3 class="modal-title">Edit User</h3>
</div>
<div class="modal-body">
	<table>
		<tbody class="two-column-form">
			<tr>
				<td>Email:</td>
				<td>{{items.email}}</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input type="text" data-ng-model="items.name" class="form-control" placeholder="Name" required/></td>
			</tr>
			<tr>
				<td>Role:</td>
				<td>
					<select id="roleList" 
						title="Role Selecion" 
						class="selectpicker show-tick form-control" 
						data-ng-model="items.roleId" 
						data-ng-options="role.id as role.name for role in roles" 
					/>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" data-ng-click="ok()">OK</button>
</div>
