<table *ngIf="tableData"
	class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th *ngFor="#columnHeader of tableData.getColumns()"
				title="{{columnHeader.getTooltip()}}">{{columnHeader.getName()}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#row of tableData.getRows()">
			<td *ngFor="#cell of row.getCells()" title="{{cell.tooltip}}"><span
				*ngIf="!cell.link">{{cell.content}}</span><a *ngIf="cell.link"
				(click)="cell.link()">{{cell.content}}</a></td>
		</tr>
	</tbody>
</table>
