<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresol.purifinity.client.common.analysis.AnalysisAPIStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.puresol.purifinity.client.common.analysis.perspectives.AnalysisPerspective"
            id="com.puresol.purifinity.client.common.analysis.perspectives.AnalysisPerspective"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.puresol.purifinity.client.common.analysis.editors.FileAnalysisEditor"
            default="false"
            id="com.puresol.purifinity.client.common.analysis.editors.FileAnalysisEditor"
            name="File Analysis">
      </editor>
      <editor
            class="com.puresol.purifinity.client.common.analysis.editors.DirectoryAnalysisEditor"
            default="false"
            id="com.puresol.purifinity.client.common.analysis.editors.DirectoryAnalysisEditor"
            name="Directory Analysis">
      </editor>
      <editor
            class="com.puresol.purifinity.client.common.analysis.editors.NotAnalyzedEditor"
            default="false"
            id="com.puresol.purifinity.client.common.analysis.editors.NotAnalyzedEditor"
            name="Not Analyzed">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresol.purifinity.client.common.analysis.preferences.NewAnalysisPreferencePage"
            id="com.puresol.purifinity.client.common.analysis.preferences.NewAnalysisPreferencePage"
            name="New Analysis">
      </page>
      <page
            class="com.puresol.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            id="com.puresol.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            name="Code Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.puresol.purifinity.client.common.analysis.handlers.NewAnalysisProjectHandler"
            id="com.puresol.purifinity.client.common.analysis.handlers.NewAnalysisProjectHandler"
            name="New Analysis">
      </command>
      <command
            defaultHandler="com.puresol.purifinity.client.common.analysis.handlers.ReAnalyzeHandler"
            description="Re-analyzes the currently selected analysis run."
            id="com.puresol.purifinity.client.common.analysis.handlers.ReAnalyzeHandler"
            name="Re-analyze">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            name="Code Analysis">
      </category>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AnalysisProjectsView"
            id="com.puresol.purifinity.client.common.analysis.views.AnalysisProjectsView"
            name="Analysis Projects"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AnalysisRunContentView"
            id="com.puresol.purifinity.client.common.analysis.views.AnalysisRunContentView"
            name="Analysis Run Content"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AnalysisRunsView"
            id="com.puresol.purifinity.client.common.analysis.views.AnalysisRunsView"
            name="Analysis Runs"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AnalysisReportView"
            id="com.puresol.purifinity.client.common.analysis.views.AnalysisReportView"
            name="Analysis Report"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AnalysisStoreView"
            id="com.puresol.purifinity.client.common.analysis.views.AnalysisStoreView"
            name="Analysis Store"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.AvailableAnalyzersView"
            id="com.puresol.purifinity.client.common.analysis.views.AvailableAnalyzersView"
            name="Available Analyzers"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.GrammarView"
            id="com.puresol.purifinity.client.common.analysis.views.GrammarView"
            name="Grammar Viewer"
            restorable="true">
      </view>
      <view
            category="com.puresol.purifinity.client.common.analysis.AnalysisCategory"
            class="com.puresol.purifinity.client.common.analysis.views.ParserTreeView"
            id="com.puresol.purifinity.client.common.analysis.views.ParserTreeView"
            name="Parser Tree Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.puresol.purifinity.client.common.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="analysis"
               label="Analysis"
               mnemonic="A">
            <command
                  commandId="com.puresol.purifinity.client.common.analysis.handlers.ReAnalyzeHandler"
                  id="Re-analyze"
                  label="Re-analyze"
                  mnemonic="R"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_contribs.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
 com.puresol.purifinity.client.common.analysis.plugin  </extension>

</plugin>
