html {
	background-color: #c0c0c0;
}

body {
	border-top: 2pt solid #408020;
	border-left: 2pt solid #408020;
	border-right: 2pt solid #804020;
	border-bottom: 2pt solid #804020;
}

tbody.two-column-form > tr > td {
	margin: 5pt;
	padding: 5pt;
}

div.sourceCode {
    border: 1pt gray solid;
    padding: 10pt;
    background-color: #ffffd0;
}

td.lineNumber {
    color: gray;
    font-style: italic;
    font-size: smaller;
    padding-right: 10px;
    text-align: right;
}

pre.sourceLine {
    font-family: "Courier New", Monospace;
    color: black;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: inherit;
}