<div class="container" data-ng-controller="accountViewCtrl">
	<h1>Account Settings</h1>
	<table class="table table-striped table-hover table-bordered">
		<tbody>
			<tr>
				<td>Name</td>
				<td>
					{{user.name}}
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td>Role</td>
				<td>{{user.role.name}}</td>
			</tr>
		</tbody>
	</table>
		<script type="text/ng-template" id="changePasswordModalContent.html">
		</script>
	<button class="btn btn-default" data-ng-click="openChangePassword(user.email)">Change Password...</button>
</div>
