.projectsNavigation {
	vertical-align: middle;
	margin-left: 2pt;
	margin-right: 2pt;
}

.projectName {
	font-weight: bold;
	font-size: 12pt;
}

.runName {
	font-weight: bold;
	font-size: 12pt;
}
