<div class="container" data-ng-controller="projectSettingsCtrl">
	<h1>Projects</h1>
	<div>
		<script type="text/ng-template" id="createProjectModalContent.html">
		</script>
		<button class="btn btn-default" ng-click="openCreateProject()">Create Project...</button>
	</div>
	<div>
		<div>
			<script type="text/ng-template" id="editProjectModalContent.html">
			</script>
		</div>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Identifier</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="project in projects">
					<td>{{project.settings.name}}</td>
					<td>{{project.information.projectId}}</td>
					<td>{{project.settings.description}}</td>
					<td>
						<button class="btn btn-default" data-ng-click="openEditProject(project)">Edit...</button>
						<button class="btn btn-default" data-ng-click="deleteProject(project.information.projectId)">Delete...</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>