<div class="container">
	<tabset>
		<tab heading="System Settings">
			<p>Settings in this section are system wide settings and defaults for plugin, user and project settings.</p>
			<div>
				TODO
			</div>
		</tab>
		<tab heading="Plugin Settings">
			<p>Settings in this section are plugin settings which may also override system defaults.</p>
			<div class="row" data-ng-controller="pluginSettingsCtrl">
				<div class="col-md-4">
					<label for="repositorySelection" title="Selection for the repository plugin.">Repositories</label><br/>
					<div id="repositorySelection">
						<ul data-ng-repeat="repository in repositories">
							<li>{{repository.name}}</li>
						</ul>
					</div>
					<label for="analyzerSelection" title="Selection for the analyzer plugin.">Analyzers</label><br/>
					<div id="analyzerSelection">
						<ul data-ng-repeat="analyzer in analyzers">
							<li>{{analyzer.name}}</li>
						</ul>
					</div>
					<label for="repositorySelection" title="Selection for the repository plugin.">Evaluators</label><br/>
					<div id="repositorySelection">
						<ul data-ng-repeat="evaluator in evaluators">
							<li>{{evaluator.name}}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					Plugin Settings
				</div>
			</div>
		</tab>
	</tabset>
</div>