<div class="container">
	<tabset> <tab heading="Users">
	<h2>User Settings</h2>
	<div data-ng-controller="addUserModalCtrl">
		<script type="text/ng-template" id="addUserModalContent.html">
		</script>
		<button class="btn btn-default" ng-click="open()">Add User...</button>
	</div>
	<div data-ng-controller="userSettingsCtrl">
		<div>
			<script type="text/ng-template" id="editUserModalContent.html">
			</script>
		</div>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.email}}</td>
					<td>{{user.name}}</td>
					<td>
						<button class="btn btn-default" data-ng-click="openEditUser(user)">Edit...</button>
						<button class="btn btn-default" data-ng-click="deleteUser(user.email)">Delete...</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</tab> <tab heading="Roles">
	<div data-ng-controller="roleSettingsCtrl">
		<h2>Role Settings</h2>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Role Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="role in roles">
					<td>{{role.name}}</td>
					<td><button class="btn btn-default" disabled="true">Edit...</button>
						<button class="btn btn-default" disabled="true">Delete...</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	</tab> </tabset>
</div>