<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="Purifinity"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="com.puresoltechnologies.purifinity.client.application.Purifinity">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <separator
                  name="com.puresoltechnologies.purifinity.client.application.plugin.separator8"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  icon="icons/16x16/printer.png"
                  id="print"
                  label="Print..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="coding.client.plugin.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.puresoltechnologies.purifinity.client.application.handler.SwitchWorkspaceHandler"
                  icon="icons/16x16/arrow_switch.png"
                  id="switchWorkspace"
                  label="Switch Workspace..."
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  icon="icons/16x16/arrow_refresh.png"
                  id="restart"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.export"
                  icon="icons/16x16/document_export.png"
                  id="export"
                  label="Export..."
                  mnemonic="E"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/16x16/door_out.png"
                  id="Exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="options"
               label="Options"
               mnemonic="O">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/16x16/wrench_orange.png"
                  id="preferences"
                  label="Preferences..."
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  icon="icons/16x16/application.png"
                  id="newWindow"
                  label="New Window"
                  mnemonic="N"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/16x16/layout_content.png"
                  id="showView"
                  label="Show View..."
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/16x16/layout.png"
                  id="showPerspective"
                  label="Show Perspective..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  icon="icons/16x16/layout_edit.png"
                  id="customizePerspectiveAs"
                  label="Customize Perspective..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  icon="icons/16x16/disk.png"
                  id="savePerspective"
                  label="Save Perspective As..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  icon="icons/16x16/layout_error.png"
                  id="resetPerspective"
                  label="Reset Perspective..."
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  icon="icons/16x16/layout_delete.png"
                  id="closePerspective"
                  label="Close Perspective"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  icon="icons/16x16/cross.png"
                  id="closeAllPerspectives"
                  label="Close All Perspectives"
                  mnemonic="l"
                  style="push">
            </command>
            <separator
                  name="com.puresoltechnologies.purifinity.client.application.plugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.closePart"
                  icon="icons/16x16/cross.png"
                  id="closePart"
                  label="Close Part"
                  style="push"
                  tooltip="Closes the current part (view or editor)">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="com.puresoltechnologies.purifinity.client.application.handler.MyIntroHandler"
                  icon="icons/16x16/flower.png"
                  id="welcome"
                  label="Welcome"
                  mnemonic="W"
                  style="push">
            </command>
            <separator
                  name="com.puresoltechnologies.purifinity.client.application.plugin.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  icon="icons/16x16/help.png"
                  id="helpContents"
                  label="Help Contents..."
                  mnemonic="H"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  icon="icons/16x16/find.png"
                  id="search"
                  label="Search..."
                  mnemonic="e"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  label="Dynamic Help"
                  mnemonic="D"
                  style="push">
            </command>
            <separator
                  name="com.puresoltechnologies.purifinity.client.application.plugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.puresoltechnologies.purifinity.client.application.commands.OpenPureSolTechnologiesWebsiteHandler"
                  id="websitr"
                  label="PureSol Technologies Website..."
                  style="push">
            </command>
            <command
                  commandId="com.puresoltechnologies.purifinity.client.application.commands.OpenBugAndEnhancementTrackerWebsiteHandler"
                  icon="icons/16x16/bug.png"
                  id="bugtracker"
                  label="Bug and Feature Request Tracker Website..."
                  style="push">
            </command>
              <separator
                    name="additions"
                    visible="true">
            </separator>
            <separator
                  name="com.puresoltechnologies.purifinity.client.application.plugin.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="About Purifinity..."
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="com.puresoltechnologies.purifinity.client.application.views.OsgiDebugView"
            id="com.puresoltechnologies.purifinity.client.application.views.OsgiDebugView"
            name="OSGI Debug"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.handler.SwitchWorkspaceHandler"
            id="com.puresoltechnologies.purifinity.client.application.handler.SwitchWorkspaceHandler"
            name="Switch Workspace">
      </command>
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.handler.PrintHandler"
            id="org.eclipse.ui.file.print"
            name="Print">
      </command>
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.handler.ExportHandler"
            id="org.eclipse.ui.file.export"
            name="Export">
      </command>
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.commands.OpenPureSolTechnologiesWebsiteHandler"
            description="Opens the official website of PureSol Technologies"
            id="com.puresoltechnologies.purifinity.client.application.commands.OpenPureSolTechnologiesWebsiteHandler"
            name="Open PureSol Technologies Website">
      </command>
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.commands.OpenBugAndEnhancementTrackerWebsiteHandler"
            description="Opens the official bug tracker and feature request website"
            id="com.puresoltechnologies.purifinity.client.application.commands.OpenBugAndEnhancementTrackerWebsiteHandler"
            name="Open Bug and Enhancement Tracker Website">
      </command>
      <command
            defaultHandler="com.puresoltechnologies.purifinity.client.application.handler.MyIntroHandler"
            id="com.puresoltechnologies.purifinity.client.application.handler.MyIntroHandler"
            name="Show Intro">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.puresoltechnologies.purifinity.client.application.plugin.PurifinityFull">
      </introProductBinding>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.puresoltechnologies.purifinity.client.application.plugin.PurifinityBase">
      </introProductBinding>
   </extension>
   <extension
         id="PurifinityBase"
         name="Purifinity"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresoltechnologies.purifinity.client.application.plugin.application"
            name="Purifinity">
         <property
               name="aboutImage"
               value="images/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="About Purifinity">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="50,200,445,32">
         </property>
         <property
               name="startupMessageRect"
               value="50,250,445,20">
         </property>
         <property
               name="introTitle"
               value="Welcome to Purifinity">
         </property>
         <property
               name="introBrandingImageText"
               value="PureSol Technologies">
         </property>
         <property
               name="introBrandingImage"
               value="product:images/puresol-logo-green.png">
         </property>
      </product>
   </extension>
   <extension
         id="PurifinityFull"
         name="Purifinity"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresoltechnologies.purifinity.client.application.plugin.application"
            name="Purifinity">
         <property
               name="aboutImage"
               value="/com.puresoltechnologies.purifinity.client.product.full/images/puresol-logo-green_small.png">
         </property>
         <property
               name="aboutText"
               value="Purifinity

(c) Copyright PureSol Techologies 2009-2013.  All rights reserved.
Visit http://puresol-technologies.com

This product includes software developed by the
Apache Software Foundation http://apache.org">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="10,200,620,32">
         </property>
         <property
               name="startupMessageRect"
               value="10,248,620,20">
         </property>
         <property
               name="introTitle"
               value="Welcome to Purifinity">
         </property>
         <property
               name="introBrandingImageText"
               value="PureSol Technologies">
         </property>
         <property
               name="introBrandingImage"
               value="product:images/puresol-logo-green.png">
         </property>
         <property
               name="appName"
               value="Purifinity">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.help.helpSearch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F1">
      </key>
      <key
            commandId="org.eclipse.ui.help.displayHelp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F1">
      </key>
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="com.puresoltechnologies.purifinity.client.application.plugin.introCustomization"
            name="Intro Customization">
      </page>
   </extension>

</plugin>
