<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresol.purifinity.client.lang.cpp11.CPP11Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.coding.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresol.purifinity.client.lang.cpp11.prefs.CPP11AnalysisPreferencePage"
            id="com.puresol.coding.client.lang.cpp11.prefs.CPP11AnalysisPreferencePage"
            name="C++11">
      </page>
   </extension>


</plugin>
