<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.puresol.coding.client.SourceCodeAnalysis">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Analysis Perspective"
            class="com.puresol.coding.client.perspectives.AnalysisPerspective"
            id="com.puresol.coding.client.AnalysisPerspective">
      </perspective>
      <perspective
            class="com.puresol.coding.client.perspectives.EvaluationPerspective"
            id="com.puresol.coding.client.EvaluationPerspective"
            name="Evaluation Perspective">
      </perspective>
   </extension>
   <extension
         id="RichClientRepository"
         point="org.eclipse.core.runtime.products">
      <product
            application="RichClient.Repository.application"
            name="Source Code Analysis">
         <property
               name="appName"
               value="Source Code Analysis">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="Exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="options"
               label="Options"
               mnemonic="O">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences..."
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="About Source Code Analysis..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.puresol.coding.client.views.AnalysisNavigator"
            id="com.puresol.coding.AnalysisNavigator"
            name="Analysis Navigator"
            restorable="true">
      </view>
      <view
            class="com.puresol.coding.client.views.SourceNavigator"
            id="com.puresol.coding.SourceNavigator"
            name="Source Navigator"
            restorable="true">
      </view>
   </extension>

</plugin>
