<div class="input-group">

	<span class="input-group-btn"><a *ngIf="isOverride()"
		class="form-control {{getOverrideButtonClass()}}"
		title="Override parameter for this project."
		(click)="toggleOverriding()">Override</a></span>

	<!--  refresh -->
	<span class="input-group-btn"><a
		class="form-control btn-default" (click)="refresh()"> <img
			src="/images/icons/FatCow_Icons16x16/arrow_refresh.png"
			title="Re-read value from server." /></a> </span>

	<!-- boolean parameter -->
	<a *ngIf="isBoolean()" [attr.disabled]="isLocked()"
		class="form-control {{getBooleanButtonClass()}}"
		title="{{parameter.description}}" (click)="toggleBoolean()">{{getBooleanText()}}</a>

	<!-- string parameter -->
	<input *ngIf="isText()" [disabled]="isLocked()" class="form-control"
		title="{{parameter.description}}" type="text" [(ngModel)]="textInput"
		required />

	<!-- number parameter -->
	<input *ngIf="isNumber()" [disabled]="isLocked()" class="form-control"
		title="{{parameter.description}}" type="number"
		[(ngModel)]="numberInput" required />

	<!-- unit -->
	<span *ngIf="parameter.unit" class="input-group-addon">{{parameter.unit}}</span>

	<!-- -->
	<span class="input-group-btn" data-ng-hide="isDefault()"> <a
		class="btn btn-default" (click)="setDefault()"><img
			src="/images/icons/FatCow_Icons16x16/arrow_redo.png"
			title="Set back to default value." /></a></span>

	<!-- -->
	<span class="input-group-btn" *ngIf="wasChanged()"> <a
		class="btn btn-default" (click)="commit()"><img
			src="/images/icons/FatCow_Icons16x16/accept_button.png"
			title="Save new value." /></a></span>

	<!-- -->
	<span class="input-group-btn" *ngIf="wasChanged()"> <a
		class="btn btn-default" (click)="rollback()"><img
			src="/images/icons/FatCow_Icons16x16/cross.png"
			title="Reset changes." /></a></span>

</div>
