<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<td colspan="{{treeTableData.columns.length}}" style="padding:0pt;margin:0pt;">
				<ol class="breadcrumb" style="padding:0.5em;margin:0pt;">
					<li data-ng-repeat="folder in path">
						<a href data-ng-click="setDir(folder)"><img data-ng-show="folder.imageUrl" data-ng-src="{{folder.imageUrl}}" /> {{folder.content}}</a>
					</li>
				</ol>
			</th>
		</tr>
		<tr>
			<th data-ng-repeat="columnHeader in treeTableData.columnHeaders" data-toggle="tooltip" title="{{columnHeader.tooltip}}">{{columnHeader.name}}</th>
			
			
			
		</tr>
	</thead>
	<tbody>
		<tr data-ng-show="path.length > 1">
			<td>
				<a href data-ng-click="chdir('..')"><img src="/images/icons/FatCow_Icons16x16/bullet_arrow_up.png" /> ..</a>
			</td>
			<td data-ng-hide="$first" data-ng-repeat="column in treeTableData.columns"></td>
		</tr>
		<tr data-ng-repeat="content in currentFolder.children">
			<td>
				<a data-ng-show="content.children" href data-ng-click="chdir(content.name)">
					<img data-ng-show="content.imageUrl" data-ng-src="{{content.imageUrl}}" />
					{{content.content}}
				</a>
				<span data-ng-hide="content.children">
					<img data-ng-show="content.imageUrl" data-ng-src="{{content.imageUrl}}" />
					{{content.content}}
				</span>
			</td>
			<td data-ng-repeat = "contentColumn in content.columns">
				{{contentColumn.content}}
			</td>
		</tr>
	</tbody>
</table>
