<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.hbase.client">
	<resources>
		<resource-root path="phoenix-core-4.6.0-HBase-1.1.jar" />
		<resource-root path="hbase-client-1.1.3.jar" />
		<resource-root path="hbase-common-1.1.3.jar" />
		<resource-root path="hbase-server-1.1.3.jar" />
		<resource-root path="hbase-protocol-1.1.3.jar" />
		<resource-root path="zookeeper-3.4.6.jar" />
		<resource-root path="guava-16.0.1.jar" />
	</resources>
	<dependencies>
		<module name="sun.jdk" />
		<module name="io.netty" />
		<module name="javax.api" />
		<module name="javax.transaction.api" />
		<module name="org.antlr.antlr-runtime" slot="3.4"/>
		<module name="org.apache.commons.codec" />
		<module name="org.apache.commons.lang" />
		<module name="org.apache.commons.logging" />
		<module name="org.apache.log4j" />
		<module name="org.jboss.as.security" />
		<module name="org.joda.time" />
		<module name="org.slf4j" />
		<!-- Own modules... -->
		<module name="org.apache.hadoop.client" />
	</dependencies>
</module>
