<div class="container" data-ng-controller="authCtrl">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="form-signin" role="form">
				<h2 class="form-signin-heading">Please sign in</h2>
				<input data-ng-model="email" type="email" class="form-control" placeholder="Email address" required autofocus />
				<input data-ng-model="password" type="password" class="form-control" placeholder="Password" required />
				<label class="checkbox">
					<input id="remember-me" data-ng-model="remember" type="checkbox" value="remember-me">&nbsp;Remember me
				</label>
				<button data-ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit"><span
						class="glyphicon glyphicon-pencil">&nbsp;</span>Sign in</button>
			</form>
		</div>
	</div>
</div>
