<div class="container">
	<h1>Projects</h1>
	<div data-ng-controller="projectListCtrl">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="project in projects">
					<td><a href="/projects/{{project.information.projectId}}">{{project.settings.name}}</a></td>
					<td>{{project.settings.description}}</td>
					<td>
						<button class="btn btn-default" data-ng-click="triggerNewRun(project.information.projectId)">New Run...</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>