/*
 * This CSS file is used for central default settings which are to be used as
 * basics for all sites.
 */
body {
	background-color: white;
	color: black;
	display: block;
	margin: 3pt;
	padding: 0pt;
	font-family: Helvetica;
	font-size: 10pt;
}

/*
 * The next SVG setting is used to solve an issue with IE 9 - 11 (and who 
 * knows for which versions else?). IE does not honor the SVG boundaries and
 * draws over the SVG borders.
 * See 
 * 'http://stackoverflow.com/questions/5642815/svg-draws-outside-canvas-boundary-in-internet-explorer-9'
 * for details.
 */
svg {
	overflow: hidden;
}
