div.footer {
	background-color: white;
	color: black;
	text-align: center;
	text-shadow: black 2px 2px 5px;
	font-size: 10pt;
	text-align: center;
}

div.footer a {
	color: black;
}

div.companyName {
	font-weight: bold;
	display: inline-block;
}

span.companyNameTechnologiesPart {
	color: brown;
}

span.companyNamePureSolPart {
	color: green;
}