footer.pageFooter {
	background-color: #303030;
	color: white;
	text-align: center;
	text-shadow: gray 2px 2px 5px;
	font-size: 10pt;
	text-align: center;
}

footer.pageFooter a {
	color: white;
}

div.companyName {
	font-weight: bold;
	display: inline-block;
}

span.companyNameTechnologiesPart {
	color: brown;
}

span.companyNamePureSolPart {
	color: green;
}

div.footerSupportColumn {
	float: left;
	margin: 10pt;
}

div.footerCopyrightColumn {
	float: right;
	margin: 10pt;
}

div.footerSupportColumn strong {
	font-size: 12pt;
}
div.footerCopyrightColumn strong {
	font-size: 12pt;
}