footer {
	position: absolute;
	height: 5em;
	width: 100%;
	z-index: -20;
	height: 10em;
	margin: auto;
}

div.footer {
	background-color: #303030;
	color: white;
	text-align: center;
	text-shadow: black 2px 2px 5px;
	font-size: 10pt;
	text-align: center;
	width: 100%;
	margin: auto;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 10em;
	z-index: -15;
	position: fixed;
}

div.footer a {
	color: white;
}

div.companyName {
	font-weight: bold;
	display: inline-block;
}

span.companyNameTechnologiesPart {
	color: brown;
}

span.companyNamePureSolPart {
	color: green;
}

div.footerSupportColumn {
	float: left;
	margin: 10pt;
}

div.footerCopyrightColumn {
	float: right;
	margin: 10pt;
}

div.footerSupportColumn strong {
	font-size: 12pt;
}
div.footerCopyrightColumn strong {
	font-size: 12pt;
}