.header {
	background-color: lightgray;
	color: white;
	overflow: auto;
	text-shadow: black 2px 2px 5px;
}

div.headerName {
	font-size: 20pt;
	text-align: left;
	float: left;
}

div.additionalName {
	font-size: 16pt;
	text-align: center;
}
