.header {
	background-color: #435028;
	color: white;
	font-size: 10pt;
	overflow: auto;
}

div.headerName {
	font-size: 20pt;
	text-align: left;
	float: left;
}

div.additionalName {
	font-size: 16pt;
	text-align: center;
}
