.pageTop {
	vertical-align: middle;
	font-size: 8pt;
	font-weight: normal;
}

div.pageTop {
	background-color: #303030;
	color: white;
	width: 100%;
	text-shadow: gray 2px 2px 5px;
}

span.pageTop {
	font-size: 12pt;
	font-weight: bold;
}

a.pageTop {
	text-decoration: initial;
	color: inherit;
}

div.pageContainer {
	overflow: auto;
}

h1 {
	font-size: 18pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}
