.pageTop {
	font-size: 8pt;
	font-weight: normal;
}

div.pageTop {
	background-color: black;
	color: white;
	width: 100%;
	text-shadow: gray 2px 2px 5px;
}

span.pageTop {
	font-size: 12pt;
	font-weight: bold;
}

a.pageTop {
	text-decoration: initial;
	color: inherit;
}

div.pageContainer {
	background-color: white;
	color: black;
	overflow: auto;
}

.pageTop {
	vertical-align: middle;
}