<div class="panel panel-default">
	<ol class="breadcrumb" style="padding: 0.5em; margin: 0pt;">
		<li data-ng-repeat="folder in path" data-ng-hide="$last"><a
			href="" data-ng-click="setDir(folder)"> <img
				data-ng-show="folder.imageUrl" data-ng-src="{{folder.imageUrl}}" />
				{{folder.name}}
		</a></li>
	</ol>
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td colspan="2"><h3>{{currentFolder.name}}</h3></td>
			</tr>
			<tr data-ng-show="path.length > 1">
				<td colspan="2"><a href="" data-ng-click="chdir('..')"><img
						src="images/icons/FatCow_Icons16x16/bullet_arrow_up.png" /> ..</a></td>
			</tr>
			<tr data-ng-repeat="content in currentFolder.children">
				<td colspan="2"><a data-ng-show="content.children" href=""
					data-ng-click="chdir(content.name)"> <img
						data-ng-show="content.imageUrl" data-ng-src="{{content.imageUrl}}" />{{content.name}}
				</a> <span data-ng-hide="content.children"> <a
						data-ng-show="content.link" href="{{content.link}}"> <img
							data-ng-show="content.imageUrl"
							data-ng-src="{{content.imageUrl}}" />{{content.name}}
					</a> <span data-ng-hide="content.link"> <img
							data-ng-show="content.imageUrl"
							data-ng-src="{{content.imageUrl}}" />{{content.name}}
					</span>
				</span></td>
			</tr>
			<tr data-ng-repeat="parameter in currentFolder.parameters">
				<td width="50%">{{parameter.name}}</td>
				<td width="50%"><configuration-parameter data-ng-model="parameter"></configuration-parameter></td>
			</tr>
		</tbody>
	</table>
</div>