<div class="container" data-ng-controller="runListCtrl">
	<h1>Runs for {{project.settings.name}}</h1>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Run Time</th>
				<th>Description</th>
				<th>Duration</th>
				<th>File Search Configuration</th>
				<th>Ignore Hidden</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="run in runs">
				<td><a
					href="/run.html#/summary/{{run.projectId}}/{{run.runId}}" data-tooltip="{{run.startTime}}">
						{{run.startTime | defaultDate}}</a></td>
				<td>{{run.description}}<br />
				</td>
				<td>{{run.duration | duration}}</td>
				<td>{{run.fileSearchConfiguration}}</td>
				<td>{{run.fileSearchConfiguration.ignoreHidden}}</td>
			</tr>
		</tbody>
	</table>

</div>