<div class="modal-header">
	<h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
	<table>
		<tbody class="two-column-form">
			<tr>
				<td><label for="userEmail" title="Email of user to be used for login, messages and internal identification.">Email:</label></td>
				<td><input id="userEmail" type="email" data-ng-model="items.email" class="form-control" placeholder="Email address" disabled="true" /></td>
			</tr>
			<tr>
				<td><label for="oldPassword" title="Old password for confirmation.">Old Password:</label></td>
				<td><input id="oldPassword" type="password" data-ng-model="items.oldPassword" class="form-control" placeholder="Old Password" required autofocus/></td>
			</tr>
			<tr>
				<td><label for="newPassword" title="New password for user for login">New Password:</label></td>
				<td><input id="newPassword" type="password" data-ng-model="items.newPassword" class="form-control" placeholder="New Password" required/></td>
			</tr>
			<tr>
				<td><label for="newPasswordConfirmation" title="Re-enter new password for validation.">New Password Check:</label></td>
				<td><input id="newPasswordConfirmation" type="password" data-ng-model="items.newPassword2" class="form-control" placeholder="Repeat new password" required/></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="disableOK()">OK</button>
</div>
