<file-menu></file-menu>
Summary
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Summary</h1>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th></th>
						<th>Time</th>
						<th>Language</th>
						<th>Plugin Version</th>
						<th>Duration</th>
						<th>Analyzer Message</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#analysis of analyses">
						<td><span
							ng-bind-html="analysis.analysisInformation.successful | successfulMark"></span></td>
						<td>{{analysis.startTime | defaultDate}}</td>
						<td>{{analysis.analysisInformation.languageName}}
							{{analysis.analysisInformation.languageVersion}}</td>
						<td id="analyzerInformation" data-toggle="tooltip"
							data-placement="top" title="{{analysis.analysisInformation.analyzerId}}">{{analysis.analysisInformation.analyzerVersion
							| version}}</td>
						<td>{{analysis.duration | duration}}</td>
						<td>{{analysis.analysisInformation.analyzerErrorMessage}}</td>
					</tr>
				</tbody>
			</table>
			<h2>SourceCode:</h2>
			<source-code data-ng-model="sourceCode"></source-code>
		</div>
	</div>
</div>
