<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.0.0 http://maven.apache.org/xsd/assembly-2.0.0.xsd">
	<id>ui</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>src/main/web/build</directory>
			<outputDirectory>build</outputDirectory>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>src/main/web/conf</directory>
			<outputDirectory>conf</outputDirectory>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>src/main/web/css</directory>
			<outputDirectory>css</outputDirectory>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>src/main/web/fonts</directory>
			<outputDirectory>fonts</outputDirectory>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>src/main/web/images</directory>
			<outputDirectory>images</outputDirectory>
			<filtered>false</filtered>
		</fileSet>
		<fileSet>
			<directory>src/main/web/node_modules</directory>
			<outputDirectory>node_modules</outputDirectory>
			<filtered>false</filtered>
			<includes>
				<include>**/*.js</include>
				<include>**/*.css</include>
			</includes>
		</fileSet>
	</fileSets>
	<files>
		<file>
			<source>src/main/web/index.html</source>
			<outputDirectory>/</outputDirectory>
			<filtered>false</filtered>
		</file>
	</files>
</assembly>