<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SourceCodeClient"
         name="Source Code Client"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.puresol.coding.richclient.application.product">
         <property
               name="appName"
               value="com.puresol.coding.richclient.application.product">
         </property>
         <property
               name="applicationXMI"
               value="com.puresol.coding.richclient.application.plugin/SourceCodeClient.e4xmi">
         </property>
      </product>
   </extension>


</plugin>
