<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Purifinity Web Client</display-name>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Error Pages -->
	<error-page>
		<location>/errors/general_error.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/errors/status_401.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/errors/status_403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/status_404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/status_500.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/errors/status_503.html</location>
	</error-page>

</web-app>
