<project-run-menu></project-run-menu>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Analysis</h1>
			<tabset> <!-- File System Tree --> <tab heading="Tree">
			<tree-table data-ng-model="analysisFileTree"></tree-table> </tab> <tab
				heading="Failed Files">
			<p>{{run.failedFiles.length}} files failed during analysis:</p>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Time</th>
						<th>Duration</th>
						<th>File(s)</th>
						<th>Error Message</th>
						<th>Language</th>
						<th>Analyzer Version</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#failedFile of run.failedFiles">
						<td>{{failedFile.startTime | defaultDate}}</td>
						<td>{{failedFile.duration | duration}}</td>
						<td><div
								*ngFor="#file of hashIds[failedFile.hashId.algorithmName+':'+failedFile.hashId.hash]"
								data-toggle="tooltip" data-placement="top"
								title="HashId: {{failedFile.hashId | hashId}}">
								<a
									href="http://localhost:8080/file.html#/summary/{{failedFile.hashId.algorithmName}}:{{failedFile.hashId.hash}}">
									{{file}} </a>
							</div></td>
						<td>{{failedFile.analyzerErrorMessage}}</td>
						<td>{{failedFile.languageName}}
							{{failedFile.languageVersion}}</td>
						<td>{{failedFile.analyzerVersion | version}}</td>
					</tr>
				</tbody>
			</table>
			</tab> <tab heading="Analyzed Files">
			<p>{{run.analyzedFiles.length}} files were analyzed:</p>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Time</th>
						<th>Duration</th>
						<th>File(s)</th>
						<th>Language</th>
						<th>Analyzer Version</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#analyzedFile of run.analyzedFiles">
						<td>{{analyzedFile.startTime | defaultDate}}</td>
						<td>{{analyzedFile.duration | duration}}</td>
						<td><div
								*ngFor="#file of hashIds[analyzedFile.hashId.algorithmName+':'+analyzedFile.hashId.hash]"
								data-toggle="tooltip" data-placement="top"
								title="HashId: {{analyzedFile.hashId | hashId}}">
								<a
									href="http://localhost:8080/file.html#/summary/{{analyzedFile.hashId.algorithmName}}:{{analyzedFile.hashId.hash}}">
									{{file}} </a>
							</div></td>
						<td>{{analyzedFile.languageName}}
							{{analyzedFile.languageVersion}}</td>
						<td>{{analyzedFile.analyzerVersion | version}}</td>
					</tr>
				</tbody>
			</table>
			</tab> </tabset>
		</div>
	</div>
</div>
