<project-run-menu></project-run-menu>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Summary</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<category-bar-chart title="Issues per Severity"
				[data]="issueSeverityCount"></category-bar-chart>
		</div>
		<div class="col-md-6">
			<category-bar-chart title="Issues per Type" [data]="issueTypeCount"></category-bar-chart>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<progress-indicator *ngIf="isLoading()"></progress-indicator>
			<table *ngIf="!isLoading()"
				class="table table-striped table-hover table-bordered">
				<tbody>
					<tr>
						<td>Project</td>
						<td>{{project.settings.name}}</td>
					</tr>
					<tr>
						<td>Run Time</td>
						<td>{{run.information.startTime | defaultDate}}</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>{{run.information.description}}</td>
					</tr>
					<tr>
						<td>Duration</td>
						<td>{{run.information.duration | duration}}</td>
					</tr>
					<tr>
						<td>Analyzed Files</td>
						<td>{{run.analyzedFiles.length}}</td>
					</tr>
					<tr>
						<td>Failed Files</td>
						<td>{{run.failedFiles.length}}</td>
					</tr>
					<tr>
						<td>File Includes</td>
						<td><pre class="console"
								*ngFor="#file of run.information.fileSearchConfiguration.fileIncludes">{{file}}</pre></td>
					</tr>
					<tr>
						<td>File Excludes</td>
						<td><pre class="console"
								*ngFor="#file of run.information.fileSearchConfiguration.fileExcludes">{{file}}</pre></td>
					</tr>
					<tr>
						<td>Directory Includes</td>
						<td><pre class="console"
								*ngFor="#location of run.information.fileSearchConfiguration.locationIncludes">{{location}}</pre></td>
					</tr>
					<tr>
						<td>Directory Excludes</td>
						<td><pre class="console"
								*ngFor="#location of run.information.fileSearchConfiguration.locationExcludes">{{location}}</pre></td>
					</tr>
					<tr>
						<td>Ignore Hidden Files</td>
						<td>{{run.information.fileSearchConfiguration.ignoreHidden}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
