<div class="container">
	<tabset> <tab heading="WildFly">
	<h2>WildFly Application Server</h2>
	<ul>
		<li><a href="http://localhost:9990" target="wildfly_administration">Administration Console</a></li>
	</ul>
	</tab> <tab heading="HDFS/Hadoop">
	<h2>HDFS/Hadoop Servers</h2>
	<ul>
		<li><a href="http://localhost:50070" target="hdfs_name_node">Name Node</a></li>
		<li><a href="http://localhost:50090" target="hdfs_secondary_name_node">Secondary Name Node</a></li>
		<li><a href="http://localhost:50075" target="hdfs_data_node">Data Node</a></li>
		<li><a href="http://localhost:8088" target="hadoop">Hadoop</a></li>
		<li><a href="http://localhost:19888" target="job_history">Job History</a></li>
	</ul>
	</tab> <tab heading="HBase">
	<h2>HBase</h2>
	<p>Yet to come...</p>
	</tab></tabset>
</div>
