<div class="container" data-ng-controller="editProjectCtrl">
	<h1>
		<img src="/images/icons/FatCow_Icons32x32/book_edit.png" /> Edit
		Project
	</h1>
	<tabset> <tab heading="Information">
	<h3>Information</h3>
	<p>Project information can be changed here as the project evolves.</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<label for="projectIdentifier">Identifier:</label> <br /> <input
				id="projectIdentifier" type="text" data-ng-disabled="true"
				data-ng-model="items.id" class="form-control"
				placeholder="Identifier"
				title="Id of project to be used as identification within Purifinity. This setting cannot be changed after project creation and is shown as rerfernce only."
				required />
			<!--  -->
			<br /> <label for="projectName">Name:</label> <br /> <input
				id="projectName" type="text" data-ng-model="items.name"
				class="form-control" placeholder="Name"
				title="Name of project to be used in UI and reports." required />
			<!--  -->
			<br /> <label for="projectDescription">Description:</label> <br />
			<textarea id="projectDescription" cols="20" rows="5"
				data-ng-model="items.description" class="form-control"
				placeholder="Description"
				title="Description of project to be used in reports."></textarea>
			<br />
			<button class="btn btn-primary" data-ng-click="ok()">OK</button>
			<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
		</div>
	</div>
	</tab> <tab heading="Repository">
	<h3>Repository</h3>
	<p>A project's location can be changed here in case it was moved to
		a new repository location.</p>
	<p style="color: red; font-weight: bold;">This is not supported,
		yet.</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<label for="repository"
				title="Selection for the repository type to get sources from.">Repository
				Type</label> <br />
			<!--  -->
			<select id="repository" title="Project Selection"
				class="selectpicker show-tick form-control"
				data-ng-model="items.repositoryId" data-ng-disabled="true">
				<option value="">Select a repository type</option>
				<option data-ng-repeat="repository in repositories"
					value="{{repository.id}}">{{repository.name}}</option>
			</select>{{items.repositoryId}} <br />
			<!--  -->
			<table class="table-responsive">
				<tbody class="two-column-form">
					<tr data-ng-repeat="property in repositoryProperties">
						<td><label for="{{property.uiName}}">{{property.uiName}}</label></td>
						<td><input type="text" class="form-control"
							placeholder="to be set"
							data-ng-model="items.repositoryProperties[property.name]" data-ng-disabled="true"/></td>
						<td>{{property.description}}</td>
					</tr>
				</tbody>
			</table>
			<br />
			<button data-ng-disabled="true" class="btn btn-primary">OK</button>
			<button data-ng-disabled="true" class="btn btn-default">Cancel</button>
		</div>
	</div>
	</tab> <tab heading="Source Code Filter">
	<h3>Source File Filter</h3>
	<p>The directory and file includes and excludes defined which files
		are to be analyzed and which to be neglected. Include patterns always
		precede excludes. Files and directories not fitting into any pattern
		are selected per default.</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<label for="directoryIncludes"
				title="Specifies a list of patterns for directories to be scanned in any case.">Directory
				Includes:</label> <br />
			<textarea id="directoryIncludes" cols="20" rows="5"
				data-ng-model="items.directoryIncludes" class="form-control"
				placeholder="Directory Includes"></textarea>
			<br /> <label for="directoryExcludes"
				title="Specifies a list of patterns for directories to be excluded for scans.">Directory
				Excludes:</label> <br />
			<textarea id="directoryExcludes" cols="20" rows="5"
				data-ng-model="items.directoryExcludes" class="form-control"
				placeholder="Directory Excludes"></textarea>
			<br /> <label for="fileIncludes"
				title="Specifies a list of patterns for file to be scanned in any case.">File
				Includes:</label> <br />
			<textarea id="fileIncludes" cols="20" rows="5"
				data-ng-model="items.fileIncludes" class="form-control"
				placeholder="File Includes"></textarea>
			<br /> <label for="fileExcludes"
				title="Specifies a list of patterns for files to be excluded for scans.">File
				Excludes:</label> <br />
			<textarea id="fileExcludes" cols="20" rows="5"
				data-ng-model="items.fileExcludes" class="form-control"
				placeholder="File Excludes"></textarea>
			<br /> <label for="ignoreHidden"
				title="Specifies whether hidden directories and files shall be ignored or not.">Ignore
				Hidden Directories and Files:</label> <br /> <input id="ignoreHidden"
				type="checkbox" data-ng-model="items.ignoreHidden"
				class="form-control" placeholder="File Excludes" /> <br />
			<button class="btn btn-primary" data-ng-click="ok()">OK</button>
			<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
		</div>
	</div>
	</tab> <tab heading="Plug-ins">
	<h3>Plug-ins</h3>
	<p>
		The system-wide, default settings for plug-ins are set in <a
			href="#/settings">central settings section</a>. All settings should
		be done there. Settings here a meant as project specific settings and
		exceptions.
	</p>
	<div class="row" data-ng-controller="editProjectPluginSettingsCtrl">
		<div class="col-sm-12">
			<configuration-component data-ng-model="pluginSettings">
			</configurationComponent>
		</div>
	</div>
	</tab> </tabset>

</div>