<div class="container">
  <tabset>
    <tab heading="System Settings" data-ng-controller="systemSettingsCtrl">
      <p>Settings in this section are system settings which influence the behavior of the system in general.</p>
      <configuration-component data-ng-model="systemSettingsTree"></configurationComponent>
</tab>
    <tab heading="Plugin Activation" data-ng-controller="pluginActivationCtrl">
      <p>In this sections plugins are enabled and disabled system wide.</p
      <h3>Analyzers</h3>
      <table class="table table-striped table-hover table-bordered">
	<thead>
	  <tr>
	    <th>Plugin Name</th>
	    <th>Description</th>
	    <th width="5%">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr data-ng-repeat="analyzer in analyzers">
	    <td>{{analyzer.name}}</td>
	    <td>{{analyzer.description}}</td>
	    <td>
	      <button class="btn {{getAnalyzerButtonClass(analyzer.id)}}"
		      data-ng-value="analyzerActivation[analyzer.id]"
		      data-ng-click="toggleAnalyzerActivation(analyzer.id)">
		{{getAnalyzerButtonText(analyzer.id)}}
	      </button>
	    </td>
	  </tr>
	</tbody>
      </table>
      <h3>Evaluators</h3>
      <table class="table table-striped table-hover table-bordered">
	<thead>
	  <tr>
	    <th>Plugin Name</th>
	    <th>Description</th>
	    <th width="5%">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr data-ng-repeat="evaluator in evaluators">
	    <td>{{evaluator.name}}</td>
	    <td>{{evaluator.description}}</td>
	    <td>
	      <button class="btn {{getEvaluatorButtonClass(evaluator.id)}}"
		      data-ng-value="evaluatorActivation[evaluator.id]"
		      data-ng-click="toggleEvaluatorActivation(evaluator.id)">
		{{getEvaluatorButtonText(evaluator.id)}}
	      </button>
	    </td>
	  </tr>
	</tbody>
      </table>
    </tab>
    <tab heading="Plugin Settings" data-ng-controller="pluginSettingsCtrl">
      <p>Settings in this section are plugin settings which are used for the plugin as default. Project settings override these settings.</p>
      <div class="row">
	<div class="col-md-4">
	  <label for="repositorySelection" title="Selection for the repository plugin.">Repositories</label><br/>
	  <div id="repositorySelection">
	    <ul data-ng-repeat="repository in repositories">
	      <li>{{repository.name}}</li>
	    </ul>
	  </div>
	  <label for="analyzerSelection" title="Selection for the analyzer plugin.">Analyzers</label><br/>
	  <div id="analyzerSelection">
	    <ul data-ng-repeat="analyzer in analyzers">
	      <li>{{analyzer.name}}</li>
	    </ul>
	  </div>
	  <label for="repositorySelection" title="Selection for the repository plugin.">Evaluators</label><br/>
	  <div id="repositorySelection">
	    <ul data-ng-repeat="evaluator in evaluators">
	      <li>{{evaluator.name}}</li>
	    </ul>
	  </div>
	</div>
	<div class="col-md-8">
	  Plugin Settings
	</div>
      </div>
    </tab>
  </tabset>
</div>
