<admin-menu></admin-menu>
<div class="container" data-ng-controller="createProjectCtrl">
	<h1>
		<img src="/images/icons/FatCow_Icons32x32/book_add.png" /> Create
		Project
	</h1>
	<h2>Information</h2>
	<p>General information about the project is specified here which is
		used for identification, reporting and UI.</p>
	<label for="projectIdentifier">Identifier:</label><br /> <input
		id="projectIdentifier" type="text" [(ngModel)]="id"
		class="form-control" placeholder="Identifier"
		title="Identifier used for internal reference and usage in URLs."
		required autofocus /><br /> <label for="projectName"
		title="Name of project to be used in UI and reports.">Name:</label><br />
	<input id="projectName" type="text" [(ngModel)]="name"
		class="form-control" placeholder="Name" required /> <br /> <label
		for="projectDescription">Description:</label><br />
	<textarea id="projectDescription" cols="20" rows="5"
		[(ngModel)]="description" class="form-control"
		placeholder="Description"
		title="Description of project to be used in reports."></textarea>
	<h2>Repository</h2>
	<p>The repository location specifies where and how to find the
		sources to be analysed.</p>
	<label for="repository"
		title="Selection for the repository type to get sources from.">Repository
		Type</label> <br /> <select id="repository" title="Project Selection"
		class="selectpicker show-tick form-control"
		[ngModel]="repositoryId" (ngModelChange)="selectRepository($event)">
		<option value="">Select a repository type</option>
		<option *ngFor="#repository of repositories" value="{{repository.id}}">{{repository.name}}</option>
	</select>
	<table class="table-responsive">
		<tbody class="two-column-form">
			<tr *ngFor="#property of repositoryProperties">
				<td><label>{{property.uiName}}</label></td>
				<td><input type="text" class="form-control"
					placeholder="to be set"
					[(ngModel)]="repositoryProperties[property.name]" /></td>
				<td>{{property.description}}</td>
			</tr>
		</tbody>
	</table><br/>
	<label for="preAnalysisScript"
		title="Path to the pre-analysis script which is called before each analysis run.">Path to pre-analysis script:</label><br />
	<input id="preAnalysisScript" type="text" [(ngModel)]="preAnalysisScript"
		class="form-control" placeholder="Pre-analysis-script" />
	<h2>Source File Filter</h2>
	<p>The directory and file includes and excludes defined which files
		are to be analyzed and which to be neglected. Include patterns always
		precede excludes. Files and directories not fitting into any pattern
		are selected per default.</p>
	<label for="directoryIncludes"
		title="Specifies a list of patterns for directories to be scanned in any case.">Directory
		Includes:</label><br />
	<textarea id="directoryIncludes" cols="20" rows="5"
		[(ngModel)]="directoryIncludes" class="form-control"
		placeholder="Directory Includes"></textarea>
	<br /> <label for="directoryExcludes"
		title="Specifies a list of patterns for directories to be excluded for scans.">Directory
		Excludes:</label> <br />
	<textarea id="directoryExcludes" cols="20" rows="5"
		[(ngModel)]="directoryExcludes" class="form-control"
		placeholder="Directory Excludes"></textarea>
	<br /> <label for="fileIncludes"
		title="Specifies a list of patterns for file to be scanned in any case.">File
		Includes:</label><br />
	<textarea id="fileIncludes" cols="20" rows="5"
		[(ngModel)]="fileIncludes" class="form-control"
		placeholder="File Includes"></textarea>
	<br /> <label for="fileExcludes"
		title="Specifies a list of patterns for files to be excluded for scans.">File
		Excludes:</label> <br />
	<textarea id="fileExcludes" cols="20" rows="5"
		[(ngModel)]="fileExcludes" class="form-control"
		placeholder="File Excludes"></textarea>
	<br /> <label for="ignoreHidden"
		title="Specifies whether hidden directories and files shall be ignored or not.">Ignore
		Hidden Directories and Files:</label><br /> <input id="ignoreHidden"
		type="checkbox" [(ngModel)]="ignoreHidden"
		class="form-control" placeholder="File Excludes" />
	<div class="row">
		<button class="btn btn-primary" (click)="createProject()"
			[disabled]="disableOK()">OK</button>
		<a class="btn btn-secondary" [routerLink]="['/ProjectsAdmin']">Cancel</a>
	</div>

</div>
