<!DOCTYPE html>
<html data-ng-app="purifinityApp">
<head>
<base href="index.html" />

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="Client for Purifinity server." />
<meta name="author" content="PureSol Technologies" />
<link rel="icon" href="images/logos/favicon.ico" />

<title>Purifinity Web Client</title>

<!-- CSS includes -->
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="lib/bootstrap-select/css/bootstrap-select.min.css" />
<link rel="stylesheet" href="css/application.css" />
<link rel="stylesheet" href="css/navbar-fixed-top.css" />
<link rel="stylesheet" href="css/angular-ui.css" />
<link rel="stylesheet" href="css/opensans.css" />
<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/logo.css" />

<!-- AngularJS integration -->
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="lib/angular-ui/ui-bootstrap-tpls-0.12.1.min.js"></script>

<!-- Custom JS scripts -->
<script type="text/javascript" src="config/server.js"></script>
<script type="text/javascript" src="config/authentication.js"></script>
<script type="text/javascript" src="js/angularjs-ext.js"></script>
<script type="text/javascript" src="js/purifinity-server.js"></script>
<script type="text/javascript" src="js/account-manager.js"></script>
<script type="text/javascript" src="js/project-manager.js"></script>
<script type="text/javascript" src="js/alerter.js"></script>
<script type="text/javascript">
	var purifinityApp = angular.module("purifinityApp", [
		"ngRoute",
		"ui.bootstrap",
		"purifinityUI",
		"purifinityServer",
		"accountManagerModule",
		"projectManagerModule",
		"alerter"
	]);
	purifinityApp.config(function($routeProvider, $locationProvider){
		$locationProvider.html5Mode(false);
		$routeProvider.when("/login", {templateUrl:"/views/login.html"});
		$routeProvider.when("/account", {templateUrl:"/views/account.html"});
		$routeProvider.when("/dashboards", {templateUrl: "/views/dashboards.html"});
		$routeProvider.when("/information", {templateUrl: "/views/information.html"});
		$routeProvider.when("/help", {templateUrl: "/views/help.html"});
		$routeProvider.otherwise({templateUrl: "/views/overview.html"});
	});
</script>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<span class="navbar-brand"><a href="/"><img src="images/logos/logo2.png" width="100" title="Purifinity"/></a></span>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav" data-ng-controller="menuCtrl">
				<li class="{{isActive('')}}"><a href="#">Overview</a></li>
				<li class="{{isActive('/dashboards')}}"><a href="#/dashboards">Dashboards</a></li>
				<li class="{{isActive('/information')}}"><a href="#/information">Information</a></li>
				<li class="{{isActive('/help')}}"><a href="#/help">Help</a></li>
			</ul>
			<div class="navbar-right" data-ng-controller="loginCtrl">
				<ul class="nav navbar-nav" data-ng-controller="menuCtrl">
					<li><a href="/admin.html"><span
							class="glyphicon glyphicon-wrench"></span>&nbsp;Administration</a></li>
					<li data-ng-show="isLoggedIn()">
						<a href="/#/account"><span class="glyphicon glyphicon-user"></span>&nbsp;Account</a>
					</li>
					<li data-ng-hide="isLoggedIn()">
						<a href="#/login"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Login</a>
					</li>
					<li data-ng-show="isLoggedIn()">
						<button class="btn btn-link" data-ng-click="logout()">
							<span class="glyphicon glyphicon-off"></span>&nbsp;Logout
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" data-ng-controller="alerterCtrl" ng-show="hasAlerts()" ng-cloak>
		<div
			class="col-lg-1 col-lg-offset-4 col-md-2 col-md-offset-2 col-sm-4" ng-cloak>
			<button class="btn btn-default" data-ng-click="clearAlerts()">Clear
				All</button>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-8" ng-cloak>
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}"
				close="closeAlert($index)" data-ng-cloak>{{alert.message}}</alert>
		</div>
	</div>

	<span data-ng-view></span>

	<span data-ng-include="'components/footer.html'"></span>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="lib/jquery/jquery-2.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/bootstrap-select/js/bootstrap-select.min.js"></script>
</body>
</html>
