<!DOCTYPE html>
<html data-ng-app="projectApp">
<head>
<base href="project.html" />

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="Client for Purifinity server." />
<meta name="author" content="PureSol Technologies" />
<link rel="icon" href="images/logos/favicon.ico" />

<title>Purifinity Web Client</title>

<!-- CSS includes -->
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="lib/bootstrap-select/css/bootstrap-select.min.css" />
<link rel="stylesheet" href="css/application.css" />
<link rel="stylesheet" href="css/navbar-fixed-top.css" />
<link rel="stylesheet" href="css/angular-ui.css" />
<link rel="stylesheet" href="css/opensans.css" />
<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/logo.css" />

<!-- AngularJS integration -->
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="lib/angular-ui/ui-bootstrap-tpls-0.12.1.min.js"></script>

<!-- Custom JS scripts -->
<script type="text/javascript" src="config/server.js"></script>
<script type="text/javascript" src="config/authentication.js"></script>
<script type="text/javascript" src="js/angularjs-ext.js"></script>
<script type="text/javascript" src="js/treetable-ui.js"></script>
<script type="text/javascript" src="js/purifinity-server.js"></script>
<script type="text/javascript" src="js/account-manager.js"></script>
<script type="text/javascript" src="js/project-manager.js"></script>
<script type="text/javascript" src="js/plugin-manager.js"></script>
<script type="text/javascript" src="js/project-metrics.js"></script>
<script type="text/javascript" src="js/analysis-ui.js"></script>
<script type="text/javascript" src="js/evaluation-ui.js"></script>
<script type="text/javascript" src="js/alerter.js"></script>
<script type="text/javascript" src="js/d3js-ui.js"></script>
<script type="text/javascript">
	var projectApp = angular.module("projectApp", [
		"ngRoute",
		"ui.bootstrap",
		"treeTableUIModule",
		"purifinityUI",
		"purifinityServer",
		"accountManagerModule",
		"projectManagerModule",
		"pluginManagerModule",
		"projectMetricsModule",
		"analysisUIModule",
		"evaluationUIModule",
		"alerter",
		"d3Module"
	]);
	projectApp.config(function($routeProvider, $locationProvider){
		$locationProvider.html5Mode(false);
		$routeProvider.when("/summary/:projectId", {templateUrl: "/views/project/summary.html"});
		$routeProvider.when("/analysis/:projectId", {templateUrl: "/views/project/analysis.html"});
		$routeProvider.when("/defects/:projectId", {templateUrl: "/views/project/defects.html"});
		$routeProvider.when("/style_issues/:projectId", {templateUrl: "/views/project/style_issues.html"});
		$routeProvider.when("/metrics/:projectId", {templateUrl: "/views/project/metrics.html"});
		$routeProvider.when("/trends/:projectId", {templateUrl: "/views/project/trends.html"});
		$routeProvider.when("/summary/:projectId", {templateUrl: "/views/project/summary.html"});
		$routeProvider.when("/analysis/:projectId", {templateUrl: "/views/project/analysis.html"});
		$routeProvider.when("/defects/:projectId", {templateUrl: "/views/project/defects.html"});
		$routeProvider.when("/style_issues/:projectId", {templateUrl: "/views/project/style_issues.html"});
		$routeProvider.when("/metrics/:projectId", {templateUrl: "/views/project/metrics.html"});
		$routeProvider.when("/trends/:projectId", {templateUrl: "/views/project/trends.html"});
		$routeProvider.when("/runs/:projectId", {templateUrl: "/views/project/runs.html"});
		$routeProvider.otherwise({redirectTo: function() {window.location = "/";}});
	});
</script>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="menuCtrl">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<span class="navbar-brand">
				<a href="/"><img src="images/logos/logo2.png" width="100" title="Purifinity"/></a> Project View: {{$routeParams.projectId}}
			</span>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="{{isActive('/summary')}}"><a href="#/summary/{{$routeParams.projectId}}">Summary</a></li>
				<li class="{{isActive('/analysis')}}"><a href="#/analysis/{{$routeParams.projectId}}">Analysis</a></li>
				<li class="{{isActive('/defects')}}"><a href="#/defects/{{$routeParams.projectId}}">Defects</a></li>
				<li class="{{isActive('/style_issues')}}"><a href="#/style_issues/{{$routeParams.projectId}}">Style Issues</a></li>
				<li class="{{isActive('/metrics')}}"><a href="#/metrics/{{$routeParams.projectId}}">Metrics</a></li>
				<li class="{{isActive('/trends')}}"><a href="#/trends/{{$routeParams.projectId}}">Trends</a></li>
				<li class="{{isActive('/runs')}}"><a href="#/runs/{{$routeParams.projectId}}">Runs</a></li>
				<li class="{{isActive('/help')}}"><a href="/#/help">Help</a></li>
			</ul>
			<div class="navbar-right" data-ng-controller="loginCtrl">
				<ul class="nav navbar-nav" data-ng-controller="menuCtrl">
					<li data-ng-show="isLoggedIn()">
						<a href="/#/account"><span class="glyphicon glyphicon-user"></span>&nbsp;Account</a>
					</li>
					<li data-ng-hide="isLoggedIn()">
						<a href="#/login"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Login</a>
					</li>
					<li data-ng-show="isLoggedIn()">
						<button class="btn btn-link" data-ng-click="logout()">
							<span class="glyphicon glyphicon-off"></span>&nbsp;Logout
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" data-ng-controller="alerterCtrl" ng-show="hasAlerts()" ng-cloak>
		<div
			class="col-lg-1 col-lg-offset-4 col-md-2 col-md-offset-2 col-sm-4" ng-cloak>
			<button class="btn btn-default" data-ng-click="clearAlerts()">Clear
				All</button>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-8" ng-cloak>
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}"
				close="closeAlert($index)" data-ng-cloak>{{alert.message}}</alert>
		</div>
	</div>

	<span data-ng-view></span>

	<span data-ng-include="'components/footer.html'"></span>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="lib/jquery/jquery-2.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="js/enable-tooltips.js"></script>
</body>
</html>
