<div class="container">
	<div class="row">
		<div class="col-md-3">
			<span data-ng-include="'components/systemHealth.html'"> </span>
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src="/images/icons/FatCow_Icons16x16/users_3.png" /> Logged In
					Users
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>User1</li>
						<li>User2</li>
						<li>User3</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src="/images/icons/FatCow_Icons16x16/books_stack.png" />
					Projects
				</div>
				<table class="table table-striped table-hover table-bordered"
					data-ng-controller="projectListCtrl" data-ng-show="projects">
					<thead>
						<tr>
							<th>Status</th>
							<th>Name</th>
							<th>Created</th>
							<th>Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="project in projects">
							<td>?</td>
							<td><a
								href="/project.html#/summary/{{project.information.projectId}}"
								title="Project ID: {{project.information.projectId}}">
									{{project.settings.name}} </a></td>
							<td>{{project.information.creationTime | defaultDate}}</td>
							<td>{{project.settings.description}}</td>
							<td width="5%">
								<button class="btn btn-default" title="New Run..."
									data-ng-click="triggerNewRun(project.information.projectId)">
									<img src="/images/icons/FatCow_Icons16x16/cog_add.png" />
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="panel panel-default"
				data-ng-controller="processStatesCtrl">
				<div class="panel-heading">
					<img src="/images/icons/FatCow_Icons16x16/service_status.png" />
					Processes
				</div>
				<div class="panel-body">{{processes.time | defaultDate}}</div>
				<table class="table">
					<tbody>
						<tr data-ng-repeat="state in processes.processStates">
							<td width="30%"><b>{{state.name}}</b> ({{state.status}})</td>
							<td>
								<div class="progress">
									<div class="progress-bar progress-bar-striped"
										role="progressbar" aria-valuenow="{{state.current}}"
										aria-valuemin="0" aria-valuemax="{{state.max}}"
										style="width: {{state.current/state.max* 100">
										{{state.current / state.max * 100}}%</div>
								</div> <br /> {{state.step}}
							</td>
							<td width="5%">
								<button class="btn btn-default" title="Abort Run..."
									data-ng-click="abortRun(state.projectId)">
									<img src="/images/icons/FatCow_Icons16x16/stop.png" />
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
