<div data-ng-controller="userSettingsCtrl">
	<h2>User Settings</h2>
	<div class="panel">
		<a href="#/users" class="btn btn-lg btn-success" data-toggle="modal"
			data-target="#addUserModal">Add User...</a>
	</div>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Email</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in users">
				<td>{{user.email}}</td>
				<td>{{user.name}}</td>
				<td><button class="btn btn-default">Edit...</button>
					<button class="btn btn-default">Delete...</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal fade" id="addUserModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h4 class="modal-title" id="addUserModalLabel">Add User</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>