<div class="modal-header">
	<h3 class="modal-title">Add User</h3>
</div>
<div class="modal-body">
	<table>
		<tbody class="two-column-form">
			<tr>
				<td><label for="userEmail" title="Email of user to be used for login, messages and internal identification.">Email:</label></td>
				<td><input id="userEmail" type="email" data-ng-model="items.email" class="form-control" placeholder="Email address" required autofocus/></td>
			</tr>
			<tr>
				<td><label for="userName" title="Name of the user to be used in UI and reports.">Name:</label></td>
				<td><input id="userName" type="text" data-ng-model="items.name" class="form-control" placeholder="Name" required/></td>
			</tr>
			<tr>
				<td><label for="userPassword" title="Password for user for login">Password:</label></td>
				<td><input id="userPassword" type="text" data-ng-model="items.password" class="form-control" placeholder="Password" required/></td>
			</tr>
			<tr>
				<td><label for="userPasswordConfirmation" title="Re-enter password for validation.">Password Check:</label></td>
				<td><input id="userPasswordConfirmation" type="text" data-ng-model="items.password2" class="form-control" placeholder="Repeat password" required/></td>
			</tr>
			<tr>
				<td><label for="userRole" title="Role of the user which specifies the granted permissions.">Role:</label></td>
				<td>
					<select id="userRole" data-ng-model="items.roleId" title="Role Selecion" class="selectpicker show-tick form-control">
						<option value="">Select a analysis run</option>
						<option data-ng-repeat="role in roles" value="{{role.id}}">
							{{role.name}}
						</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="disableOK()">OK</button>
</div>
