<div class="container" data-ng-controller="fileSummaryCtrl">
  <h1>Summary</h1>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
	<th>Time</th>
	<th>Language</th>
	<th>Plugin Version</th>
	<th>Duration</th>
	<th>Successful</th>
	<th>Analyzer Message</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="analysis in analyses">
	<td>{{analysis.startTime | defaultDate}}</td>
	<td>{{analysis.languageName}} {{analysis.languageVersion}}</td>
	<td>{{analysis.analysisInformation.pluginVersion | version}}</td>
	<td>{{analysis.duration}}ms</td>
	<td><span ng-bind-html="analysis.analysisInformation.successful | successfulMark"></span></td>
	<td>{{analysis.analysisInformation.analyzerErrorMessage}}</td>
      </tr>
    </tbody>
  </table>
  <h4>SourceCode:</h4>
  {{sourceCode}}
  <h4>Analyses</h4>
  {{analyses}}
</div>
