<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.puresoltechnologies.purifinity.client.lang.java7.Java7Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.puresol.purifinity.client.common.analysis.preferences.CodeAnalysisPreferencePage"
            class="com.puresoltechnologies.purifinity.client.lang.java7.prefs.JavaAnalysisPreferencePage"
            id="com.puresol.purifinity.client.lang.java.prefs.JavaAnalysisPreferencePage"
            name="Java">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_contribs.xml"
            primary="false">
      </toc>
   </extension>


</plugin>
