<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.puresol.coding.client.application.SourceCodeAnalysis">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Analysis Perspective"
            class="com.puresol.coding.client.application.perspectives.AnalysisPerspective"
            id="com.puresol.coding.client.application.perspectives.AnalysisPerspective">
      </perspective>
      <perspective
            class="com.puresol.coding.client.application.perspectives.EvaluationPerspective"
            id="com.puresol.coding.client.application.perspectives.EvaluationPerspective"
            name="Evaluation Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="com.puresol.coding.client.application.handler.NewAnalysisHandler"
                  id="newAnalysis"
                  label="New Analysis..."
                  mnemonic="N"
                  style="push">
            </command>
            <separator
                  name="coding.client.plugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  icon="icons/16x16/printer.png"
                  id="print"
                  label="Print..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="coding.client.plugin.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
                  icon="icons/16x16/arrow_switch.png"
                  id="switchWorkspace"
                  label="Switch Workspace..."
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  icon="icons/16x16/arrow_refresh.png"
                  id="restart"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.export"
                  id="export"
                  label="Export..."
                  mnemonic="E"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/16x16/door_out.png"
                  id="Exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="options"
               label="Options"
               mnemonic="O">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences..."
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  id="newWindow"
                  label="New Window"
                  mnemonic="N"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="showView"
                  label="Show View..."
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  id="showPerspective"
                  label="Show Perspective..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  id="customizePerspectiveAs"
                  label="Customize Perspective..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  id="savePerspective"
                  label="Save Perspective As..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  id="resetPerspective"
                  label="Reset Perspective..."
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  id="closePerspective"
                  label="Close Perspective"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  id="closeAllPerspectives"
                  label="Close All Perspectives"
                  mnemonic="l"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="About Source Code Analysis..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AnalysisProjectsView"
            icon="icons/16x16/analyzes_view.png"
            id="com.puresol.coding.client.application.views.AnalysisProjectsView"
            name="Analysis Projects"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AnalysisRunsView"
            icon="icons/16x16/analysis_runs_view.png"
            id="com.puresol.coding.client.application.views.AnalysisRunsView"
            name="Analysis Runs"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AnalysisRunContentExplorerView"
            icon="icons/16x16/folders_explorer.png"
            id="com.puresol.coding.client.application.views.AnalysisRunContentExplorerView"
            name="Analysis Run Content Explorer"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AnalysisReportView"
            id="com.puresol.coding.client.application.views.AnalysisReportView"
            name="Analysis Report"
            restorable="true">
      </view>
      <view
            category="org.eclipse.debug.ui"
            class="com.puresol.coding.client.application.views.OsgiDebugView"
            id="com.puresol.coding.client.application.views.OsgiDebugView"
            name="OSGI Debug"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AvailableLanguagesView"
            id="com.puresol.coding.client.application.views.AvailableLanguagesView"
            name="Available Languages"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AvailableEvaluatorsView"
            id="com.puresol.coding.client.application.views.AvailableEvaluatorsView"
            name="Available Evaluators"
            restorable="true">
      </view>
      <category
            id="com.puresol.coding.application.AnalysisCategory"
            name="Code Analysis">
      </category>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.ParserTreeView"
            id="com.puresol.coding.client.application.views.ParserTreeView"
            name="Parser Tree Viewer"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.GrammarView"
            id="com.puresol.coding.client.application.views.GrammarView"
            name="Grammar Viewer"
            restorable="true">
      </view>
      <view
            category="com.puresol.coding.application.AnalysisCategory"
            class="com.puresol.coding.client.application.views.AnalysisStoreView"
            id="com.puresol.coding.client.application.views.AnalysisStoreView"
            name="Analysis Store"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.puresol.coding.client.application.handler.NewAnalysisProjectHandler"
            id="com.puresol.coding.client.application.handler.NewAnalysisProjectHandler"
            name="New Analysis">
      </command>
      <command
            defaultHandler="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
            id="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresol.coding.client.application"
            name="Source Code Analysis">
         <property
               name="appName"
               value="Source Code Analysis">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.puresol.coding.client.application.preferences.NewAnalysisPreferencePage"
            id="com.puresol.coding.client.application.preferences.NewAnalysisPreferencePage"
            name="New Analysis">
      </page>
      <page
            class="com.puresol.coding.client.application.preferences.CodeAnalysisPreferencePage"
            id="com.puresol.coding.client.application.preferences.CodeAnalysisPreferencePage"
            name="Code Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.puresol.coding.client.application.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.puresol.coding.client.application.editors.FileAnalysisEditor"
            default="false"
            id="com.puresol.coding.client.FileAnalysisEditor"
            name="File Analysis">
      </editor>
      <editor
            class="com.puresol.coding.client.application.editors.DirectoryAnalysisEditor"
            default="false"
            id="com.puresol.coding.client.DirectoryAnalysisEditor"
            name="Directory Analysis">
      </editor>
      <editor
            class="com.puresol.coding.client.application.editors.NotAnalyzedEditor"
            default="false"
            id="com.puresol.coding.client.NotAnalyzedEditor"
            name="Not Analyzed">
      </editor>
   </extension>

</plugin>
