<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="Purifinity"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="com.puresol.coding.client.application.Purifinity">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.print"
                  id="print"
                  label="Print..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="coding.client.plugin.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
                  id="switchWorkspace"
                  label="Switch Workspace..."
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  id="restart"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.export"
                  id="export"
                  label="Export..."
                  mnemonic="E"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="Exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="options"
               label="Options"
               mnemonic="O">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences..."
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  id="newWindow"
                  label="New Window"
                  mnemonic="N"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="showView"
                  label="Show View..."
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  id="showPerspective"
                  label="Show Perspective..."
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="RichClient.Repository.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  id="customizePerspectiveAs"
                  label="Customize Perspective..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  id="savePerspective"
                  label="Save Perspective As..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  id="resetPerspective"
                  label="Reset Perspective..."
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  id="closePerspective"
                  label="Close Perspective"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closeAllPerspectives"
                  id="closeAllPerspectives"
                  label="Close All Perspectives"
                  mnemonic="l"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  id="welcome"
                  label="Welcome"
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="about"
                  label="About..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="com.puresol.coding.client.application.views.OsgiDebugView"
            id="com.puresol.coding.client.application.views.OsgiDebugView"
            name="OSGI Debug"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
            id="com.puresol.coding.client.application.handler.SwitchWorkspaceHandler"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="com.puresol.coding.client.application.PurifinityIntroPart"
            id="com.puresol.coding.client.application.plugin.intro">
      </intro>
      <introProductBinding
            introId="com.puresol.coding.client.application.plugin.intro"
            productId="com.puresol.coding.client.application.plugin.SourceCodeClient">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.puresol.coding.client.application.plugin.introConfigId"
            introId="com.puresol.coding.client.application.plugin.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="swt"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="BasePurifinity"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresol.coding.client.application.plugin.application"
            name="Purifinity">
         <property
               name="appName"
               value="Purifinity">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="50,100,445,32">
         </property>
         <property
               name="startupMessageRect"
               value="28,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="FullPurifinity"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresol.coding.client.application.plugin.application"
            name="Purifinity">
         <property
               name="appName"
               value="Purifinity">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="50,100,445,32">
         </property>
         <property
               name="startupMessageRect"
               value="28,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="MinimalPurifinity"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.puresol.coding.client.application.plugin.application"
            name="Purifinity">
         <property
               name="appName"
               value="Purifinity">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="50,100,445,32">
         </property>
         <property
               name="startupMessageRect"
               value="28,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
